.container {
    margin: 30px
}

.divider {
    border-top: 1px solid #555;
    margin-top: 30px;
    padding: 15px 0;
}

.fields{
    display: flex;
}

.link {
    color: #338BE3;
    cursor: pointer;
    margin-top: 15px;
}

.row {
    margin-bottom: 30px;
}

.title {
    margin-bottom: 30px;
}
